/toxic_relationship_dataset/Codebook Toxic Relationship Database_Serics ENG.pdf
/toxic_relationship_dataset/Codebook Toxic Relationship Database_Serics ITA.pdf
/toxic_relationship_dataset/dataset_augmented_0.jsonl
/toxic_relationship_dataset/generated_sentence_with_LLaMa3_continue_training.numbers
/toxic_relationship_dataset/generated_sentence_with_LLaMa3_continue_training-6.numbers
/toxic_relationship_dataset/NLP_tasks2023-2024 - CIPV.pdf
/toxic_relationship_dataset/toxic_relationship_comunication_dataset.csv
/toxic_relationship_dataset/toxic_relationship_comunication_dataset.numbers
/toxic_relationship_dataset/toxic_relationship_dataset.csv
/toxic_relationship_dataset/toxic_relationship_dataset.numbers
/toxic_relationship_dataset/toxic_relationship_dataset.xlsx
/toxic_relationship_dataset/toxic_relationship_filtered_dataset.csv
/toxic_relationship_dataset/toxic_relationship_violence_dataset.csv
/toxic_relationship_dataset/toxic_relationship_violence_dataset.numbers
/Models/continue_learning_model_1000_example.zip
/Models/pretrained_model_500_example.zip
